html {
  overflow-y: scroll;
}

body {
  font-family: $font-family-base;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
	text-decoration: none !important;
  display: block;
} 

.h1, .h2, .h3, .h4, .h5, .h6, p {
  margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
}
