.navbar-logo a {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfume.png");
  background-size: contain;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  width: 128px;
  height: 38px;
}

.navbar-collapse .navbar-nav .nav-link {
  @include mobile {
    color: #fff;
    border-bottom: 1px solid #fff;
    background: $light;
  }
}