.text-mem { 
  color: #848484 !important;
}

.text-user {
  color:  #818A91 !important;
}

.text-small {
  color: #A5A5A5;
}

.border-bottom {
  border-bottom: 2px solid !important;
}

.border-primary {
  border-color: #916000 !important;
}