<footer class="bg-primary py-4 pl-3">
  <div class="footer-nav container d-flex align-items-center">
    <a href="index.html" class="mr-auto mr-md-4">
      <img
        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png"
        alt="logo">
    </a>
    <p class="font-sm text-white mt-2 pr-4">© 2020. All Rights Reserved.</p>
    <ul class="nav ml-auto d-none d-md-flex">
      <li class="nav-item">
        <a href="products.html" class="nav-link text-white font-md">Product</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white font-md">Blog</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white font-md">Contact</a>
      </li>
    </ul>
  </div>
</footer>